{# medusa_backend/templates/people.html #}
{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <title>List of saved states</title>
    </head>
    <body>
        {% render_table object_list %}
    </body>
</html>